@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&display=swap');

.nav {
    background-color: black;
    width: 18.9vw;
    height: 50vw;
    float: left;
    border-radius: 2vw;
}

.nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 2vw;
    transition: 0.6s ease;
}

#a a {
    color: blueviolet;
}

#a a:hover {
    color: #fff;
}

#b a:hover {
    color: #fff;
}

#c a:hover {
    color: #fff;
}

#d a:hover {
    color: #fff;
}

#b a {
    color: cyan;
}

#c a {
    color: lawngreen;
}

#d a {
    color: yellow;
}

.con {    
    background-color: black;
    width: 78vw;
    height: 50vw;
    float: right;
    border-radius: 2vw;
}

#ti {
    color: #fff;
    font-family: lobster;
    text-align: center;
    margin-top: 16vw;
    font-size: 10vw;
}

#su {
    color: #fff;
    text-align: center;
    font-family: comfortaa;
    font-weight: bolder;
}

img {
    border-radius: 100%;
    height: 10vw;
}
